/bestsellersByQty.csv/
/project/
/target/
/.idea/
/dataset/
/.bsp/
/.git/
/soldValuePerDay.csv/
/soldValuePerDay.csv/
/totalSolldValueByCategory.csv/
/soldValuePerDay.csv/
/bestsellersByQty/
/countItemsInCategories.csv/
/daysFromAuctionStart/
/itemInCategories/
/soldValuePerDay/
/soldValuePerDay.csv/
/totalSoldValuebyCat/
/totalSolldValueByCategory.csv/
